<h1>All Shelters</h1>

<%= button_to "New Shelter", new_shelter_path, method: "get" %>

<% @shelters.each do |shelter| %>
  <h2><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", method: "get" %>
  <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: "delete" %>
<% end %>
